@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html,body
{
    width: 100%;
  height: 100%;
  background-color:black;
  margin-left:auto;
  margin-right:auto; 
  overflow:hidden;
}
#office
{
    
    margin: 0;
    padding: 0;
    border:0;
    top:0;
    left:0;
    bottom:0;
    position:absolute;
    width:122%;
    height:100vh;
    background-image: url("./assets/officelLightfalserLightfalseBfalseCfalse.webp");
 /*  background-image: url(./assets/secret.png);*/
    background-size: 100% 100%;
}

.officeMover
{
    top:0;
    position: absolute;
    height:100%;
    width:15%;
    z-index: 1;
    /*
    border-style: dotted;
    background-color: white;
    opacity: 50%;
    */
}

#fastLeft
{
    left:0;
}

#slowLeft
{
    left:15%;
}

#slowRight
{
    right:15%;
}

#fastRight
{
    right:0;
}

#powerUI
{
    position: fixed;
    font-family: 'Press Start 2P', cursive;
    z-index: 4;
    bottom:10%;
    color:white;
    left:5%;
    pointer-events: none;
}

#clockUI
{
    position: fixed;
    font-family: 'Press Start 2P', cursive;
    z-index: 4;
    top:10%;
    color:white;
    right:5%;
    font-size: larger;
    pointer-events: none;
}

#leftDoorPanel
{
    position: absolute;
    top:35%;
    z-index: 2;
}

#rightDoorPanel
{
    position: absolute;
    top:35%;
    z-index: 2;
    right:2%;
}

.doorButton
{
    height: 60px;
    width: 60px;
    position: absolute;
    z-index: 3;
    background-color: transparent;
    border: none;
}

#rightDoorButton
{
    top: 41%;
    right: 4%; 
}

#rightLightButton
{
    top: 51%;
    right: 4%; 
}

#leftDoorButton
{
    top:41%;
    left:2%;

}

#leftLightButton
{
    top:51%;
    left:2%;

}

#fan
{
    position: fixed;
    left: 49.7%;
    top: 42.9%;
    height:26.3%;
    width:7.5%;
}

#cameraToggler
{
    position:absolute;
    left:30%;
    width:40%;
    height:10%;
    z-index: 4;
    bottom:2%;
    background-image: url("./assets/cameratoggle.png");
    background-size: 100% 100%;
}

#leftDoor
{
    position: absolute;
    z-index: 1;
    top:0;
    width:15%;
    height:120vh;
    left:5%;
}

#rightDoor
{
    position:absolute;
    z-index:1;
    top:0;
    width:15%;
    height:120vh;
    right:5%;
}

#laptopGif
{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    pointer-events: none;
}

#cameras
{
    display: none;
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: 2;
    pointer-events: none;
}

#staticGif
{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: 4;
    pointer-events: none;
    opacity: 20%;
    display: none;
}

#CamMap
{
    position: absolute;
    bottom:5%;
    right:5%;
    z-index: 5;
    display: none;
    width:30%;
    height:50%;
    pointer-events: none;
}

#cameraButtons
{
    z-index: 5;
    display: none;
}
.cameraButton
{
    position: absolute;
    z-index: 5;
    height: 5%;
    width: 4.4%;
    background-color: greenyellow;
    opacity: 0%;
    
}

#ONEA
{
    right: 21.1%;
    top: 45.1%;
    
}

#ONEB
{
    right: 22.6%;
    top: 53%;
}

@keyframes fadeInFromNone {
    0%,100% { opacity: 0; }
  50% { opacity: 50%; }
}

.stageA
{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left:0%;
    top:0%;

}

#stageDiv
{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position: absolute;
    display: none;
    z-index: 3;
}

#mainMenu
{
    position: absolute;
    height:100%;
    width:100%;
    background-size: cover;
    top:0;
    left:0;
    background-image: url("assets/mainMenu.gif");
    z-index: 5;
    background-repeat: no-repeat;
    
}

#mainMenu h1
{
    color: white;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top:10%;
    left:10%;
}

#newg
{
    color: white;
    background-color:transparent;
    border: none;
    font-size: large;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top:50%;
    left:10%;
}

#nightname
{
    color: white;
    background-color:transparent;
    font-size: smaller;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top:62%;
    left:11%;
}

#cong
{
    color: white;
    background-color:transparent;
    border: none;
    font-size: large;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top:60%;
    left:10%; 
}

#nightsix
{
    color: white;
    background-color:transparent;
    border: none;
    font-size: large;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top:70%;
    left:10%;  
    display:none;
}

#customNightButton
{
    color: white;
    background-color:transparent;
    border: none;
    font-size: large;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top:80%;
    left:10%;  
    display:none;
}
#menuStatic
{
position: absolute;
height:100%;
width: 100%;
top:0;
left:0;
background-image: url("assets/static.gif");
background-size:cover;
z-index: 11;
opacity: 20%;
pointer-events: none;
}

#nightIntermission
{
    z-index: 12;
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: black;
    color:white;
    font-family: "Press Start 2P",cursive;
    display: none;
}

#nightIntermission h2
{
    position:absolute;
    left:45%;
}

#nightMarker
{
    top:30%;
}

#nightTime
{
    top:50%;
}

#SIXAM
{
    position:absolute;
    height:100%;
    width:100%;
    z-index: 13;
    top:0;
    left:0;
    display:none;
}

#usageArray
{
    display: grid;
    grid-template-rows: repeat(5,1fr);
}

#freddyNose
{
    background-color: transparent;
    border:none;
    position: fixed;
    z-index: 3;
    left:42%;
    width:10px;
    height:10px;
    top:32%;
}

#gFreddy
{
    position: absolute;
    bottom:0;
    left:25%;
    height:70%;
    width:30%;
    display: none;
}
#gFredKill
{
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    z-index: 999;
    display: none;
}

#customNight
{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 20;
    display: none;
}

#customNight img
{
    position: absolute;
    top:-20%;
    left:0%;
    width:100%;
    height:130%;
}

#muteCall
{
    z-index: 4;
    height:8%;
    width:15%;
    top:5%;
    left:5%;
    position: absolute;
    font-size:xx-large;
    background-color: grey;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    border: 2px double #cbd5cb;
    display: none;
}

.customNightChange
{
    height:7%;
    width:2.6%;
    background-color: white;
    z-index: 2;
    position:absolute;
    opacity: 0;
}

#customNight span
{
    position: absolute;
    z-index: 2;
    color:white;
    top:61%;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}

#nightseven
{
    z-index: 4;
    height:8%;
    width:15%;
    bottom:5%;
    right:5%;
    position: absolute;
    font-size:xx-large;
    background-color: grey;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    border: 2px double #cbd5cb;
}
/*
background-size: cover;
what
*/
::selection {
    background: transparent;
}
::-moz-selection {
    background: transparent;
}